@model Core.Info.Academico.aca_AnioLectivo_Sede_NivelAcademico_Info
@{
    ViewBag.Title = "Consulta de sede por nivel";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var selectedIDs;
    function OnBeginCallback(s, e) {
        //Pass all selected keys to GridView callback action
        e.customArgs["selectedIDs"] = selectedIDs;
        e.customArgs['TransaccionFixed'] = $('#IdTransaccionSession').val();
    }
    function OnSelectionChanged(s, e) {
        s.GetSelectedFieldValues("IdNivel", GetSelectedFieldValuesCallback);
    }
    function GetSelectedFieldValuesCallback(values) {
        //Capture all selected keys
        selectedIDs = values.join(',');
    }

    function guardar() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdSede: IdSede.GetValue(),
            IdAnio: IdAnio.GetValue(),
            IDs: selectedIDs,
            IdTransaccionSession: $("#IdTransaccionSession").val()
        }
        $("#btn_guardar").attr("disabled", true);
        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("guardar", "SedePorNivel", new { Area = "Academico" })',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#myform").submit();
            },
            error: function (error) {
            }
        });
    }
</script>

@using (Html.BeginForm("Index", "SedePorNivel", FormMethod.Post, new { @role = "form", @class = "form", @id = "myform" }))
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdEmpresa">Sede</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdSede, settings =>
                   {
                       settings.Name = "IdSede";
                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                       settings.Properties.DisplayFormatString = "[{0}] - {1}";
                       settings.Properties.Columns.Add("IdSede", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                       settings.Properties.Columns.Add("NomSede", "Sede").Width = System.Web.UI.WebControls.Unit.Percentage(90);
                       //Campo ID
                       settings.Properties.ValueField = "IdSede";
                       settings.Properties.ValueType = typeof(int);
                       settings.Properties.TextField = "NomSede";
                       settings.Properties.NullText = "== Seleccione ==";

                       settings.Properties.DropDownButton.Enabled = false;
                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                   }).BindList(ViewBag.lst_sede).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdSede, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="IdEmpresa">Año Lectivo</label>
                    @Html.DevExpress().ComboBoxFor(q => q.IdSede, settings =>
                   {
                       settings.Name = "IdAnio";
                       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                       settings.Properties.DisplayFormatString = "[{0}] - {1}";
                       settings.Properties.Columns.Add("IdAnio", "ID").Width = System.Web.UI.WebControls.Unit.Percentage(10);
                       settings.Properties.Columns.Add("Descripcion", "año Lectivo").Width = System.Web.UI.WebControls.Unit.Percentage(90);
                       //Campo ID
                       settings.Properties.ValueField = "IdAnio";
                       settings.Properties.ValueType = typeof(int);
                       settings.Properties.TextField = "Descripcion";
                       settings.Properties.NullText = "== Seleccione ==";

                       settings.Properties.DropDownButton.Enabled = false;
                       settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                   }).BindList(ViewBag.lst_anio).GetHtml()
                    @Html.ValidationMessageFor(q => q.IdAnio, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-default" id="btn_buscar">Buscar</button>
        <button type="button" class="btn btn-primary" id="btn_guardar" onclick="guardar();">Guardar</button>
    </div>


    @Html.Action("GridViewPartial_SedePorNivel")

}