@model Core.Info.SeguridadAcceso.seg_usuario_Info
@{
    ViewBag.Title = "Nuevo usuario";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>


<script type="text/javascript">

   $(function () {
        $("#div_admin").hide();
    })
    function OnBeginCallback(s, e) {
        e.customArgs["IdEmpresa"] = IdEmpresa.GetValue();
    }
</script>

@using (Html.BeginForm("Nuevo", "Usuario", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q=>q.IdTransaccionSession)
    if (ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>

    }

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IdUsuario">Usuario*</label>
                    @Html.TextBoxFor(q => q.IdUsuario, new { @class = "form-control"})
                    @Html.ValidationMessageFor(q => q.IdUsuario, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="Nombre">Nombre</label>
                    @Html.TextBoxFor(q => q.Nombre, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IPMaquina">IP Máquina</label>
                    @Html.TextBoxFor(q => q.IPMaquina, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="IPImpresora">IP Impresora</label>
                    @Html.TextBoxFor(q => q.IPImpresora, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-3">
                <div class="form-group">
                    <label for=""></label>
                    @Html.DevExpress().CheckBoxFor(q => q.es_super_admin, settings =>
                           {
                               settings.Name = "es_super_admin";
                               settings.Text = "¿Es usuario Administrador?";
                               settings.Properties.ClientSideEvents.CheckedChanged = "function(s,e){ValidarSuperAdmin();}";

                           }).GetHtml()
                    @Html.ValidationMessageFor(q => q.es_super_admin, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for=""></label>
                    @Html.DevExpress().CheckBoxFor(q => q.ExigirDirectivaContrasenia, settings =>
                           {
                               settings.Name = "ExigirDirectivaContrasenia";
                               settings.Text = "Exigir directivas de contraseña";

                           }).GetHtml()
                    @Html.ValidationMessageFor(q => q.ExigirDirectivaContrasenia, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for=""></label>
                    @Html.DevExpress().CheckBoxFor(q => q.CambiarContraseniaSgtSesion, settings =>
                           {
                               settings.Name = "CambiarContraseniaSgtSesion";
                               settings.Text = "Cambiar contraseña el próximo inicio de sesión";

                           }).GetHtml()
                    @Html.ValidationMessageFor(q => q.CambiarContraseniaSgtSesion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group" id="div_admin" hidden>
                    <label for="contrasena_admin">Contraseña Administrador</label>
                    @Html.TextBoxFor(q => q.contrasena_admin, new { @class = "form-control", @id = "contrasena_admin" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdMenu">Menú inicio de sesión</label>
                    @Html.DropDownListFor(q => q.IdMenu, new SelectList(ViewBag.lst_menu, "IdMenu", "DescripcionMenu_combo", Model.IdMenu == null ? 0 : Model.IdMenu), new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.IdMenu, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Action("GridViewPartial_Usuario_x_Sede")
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","Usuario",new { Area = "SeguridadAcceso" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
                    }

<script>
    ValidarSuperAdmin();

    $("#es_super_admin").change(function () {
        ValidarSuperAdmin();
    });

    function OnSelectedEmpresaChanged() {
        GridViewPartial_Usuario_x_Sede.GetEditor("IdString").PerformCallback();
    }
    function SedeComboBox_BeginCallback(s, e) {
        e.customArgs["var_IdEmpresa"] = IdEmpresa.GetValue();
    }
    function ValidarSuperAdmin() {
        var admin = es_super_admin.GetValue();
        if (admin == true) {
            $("#div_admin").show();
        }
        else {
            $("#div_admin").hide();
        }
    }

</script>