@model Core.Info.Academico.aca_Materia_Info
@{
    ViewBag.Title = "Modificar materia";

    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Modificar", "Materia", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdMateria)
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="IdSucursal">Materia*</label>
                    @Html.TextBoxFor(q => q.NomMateria, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NomMateria, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Sede">Grupo</label>
                    @Html.DropDownListFor(q => q.IdMateriaGrupo, new SelectList(ViewBag.lst_grupos, "IdMateriaGrupo", "NomMateriaGrupo"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.IdMateriaGrupo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Sede">Orden*</label>
                    @Html.TextBoxFor(q => q.OrdenMateria, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OrdenMateria, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="obligatorio"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.EsObligatorio, settings =>
                            {
                                settings.Name = "EsObligatorio";
                                settings.Text = "Es Obligatorio";
                            }).GetHtml()
                    @Html.ValidationMessageFor(q => q.EsObligatorio, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","Materia",new { Area = "Academico" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}